= form_for(@kiosk) do |f|
  
  .field
    = f.label :nombre
    %br/
    = f.text_field :nombre
  .field
    = f.label :precio
    %br/
    = f.text_field :precio
  .control-group
    %label.control-label{:for => "textarea"} Descripcion
    .controls
      =f.text_area :descripcion , id:"textarea" ,class:"input-xlarge",:size => "25x5",:maxlength=>"100"
       
  .field
    = f.label :portada
    %br/
    = f.file_field :portada
  .field
    = f.label :pdf
    %br/
    = f.file_field :pdf 
  .form-actions
    =f.submit
 