<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @kiosk.nombre %>
</p>

<p>
  <b>Precio:</b>
  <%= @kiosk.precio %>
</p>

<p>
  <b>Image:</b>
  <%= @kiosk.image %>
</p>


<%= link_to 'Edit', edit_kiosk_path(@kiosk) %> |
<%= link_to 'Back', kiosks_path %>
